<include("app/layout/default/default")>
<@content>
  <div id="step1" class="text-center">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h2>Leitura de QR Code</h2><br>
        <h5>Ao realizar a leitura do QR Code, posicione o código no centro do leitor da câmera.<br><br></h5>
        <a class="btn btn-default" href="/scanner">Ler código</a>              
      </div>
    </div>
  </div>
 </@content>
</include>
