<include("app/layout/default/default")>
  <@content>
  <div id="step1" class="text-center">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 section-title">
        <h2>Sucesso!</h2><br>
        <img src="../../client/images/icon_ok.png" width="40%" height="40%"><br><br>
        <h5>Sua transação foi armazenada.<br>Em breve iremos processá-la.</h5>           
      </div>
    </div>
  </div>
  </@content>
</include>
