<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Factr QRCode Scanner</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="QR Code Scanner is the fastest and most user-friendly web application."/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="QR Scanner"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#e4e4e4"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="application-name" content="QR Scanner"/>
    <meta name="msapplication-TileColor" content="#e4e4e4"/>
    <meta name="msapplication-TileImage" content="/images/touch/mstile-150x150.png"/>
    <meta name="theme-color" content="#fff"/>
    <link rel="apple-touch-icon" href="/images/touch/apple-touch-icon.jpg"/>
    <link rel="icon" type="image/png" href="/images/touch/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/touch/favicon-16x16.png" sizes="16x16"/>
    <link rel="shortcut icon" href="/images/touch/favicon.ico"/>
    <link rel="manifest" href="/manifest.json"/>
    <link href="/client/css/scanner/scanner.css" rel="stylesheet"/>
    <link href="/client/css/index.css" rel="stylesheet"/>
    <link href="/client/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body class="scanner-background">
    <div class="app__layout">
      <!-- Header -->
      <main class="app__layout-content">
        <video autoplay/>
        <!-- Dialog  -->
        <div class="app__dialog app__dialog--hide">
          <div class="app__dialog-content">
            <h5>QR Code</h5>
            <input type="text" id="result"/>
          </div>
          <div class="app__dialog-actions">
            <button type="button" class="app__dialog-open">Open</button>
            <button type="button" class="app__dialog-close">Close</button>
          </div>
        </div>
        <div class="app__dialog-overlay app__dialog--hide"/>
        <!-- Snackbar -->
        <div class="app__snackbar"/>
      </main>
    </div>
    <div class="app__overlay">
      <div class="app__overlay-frame"/>
      <!-- Scanner animation -->
      <div class="custom-scanner"/>
      <div class="app__help-text"></div>
      <div class="app__select-photos">Select from photos</div>
    </div>
    <style>
      .back {
        left: 20px;
        color: #fff;
        border: 1px solid;
        border-radius: 20px 20px;
      }
    </style>
    <script src="/client/js/qrcode.min.js"></script>
    <script src="/client/js/jquery.js"></script>
    <script src="/client/js/bootstrap.min.js"></script>
    <script src="/client/js/usuario.js"></script>
    <script src="/client/js/credentials.js"></script>
    <script src="/client/js/index.js"></script>
    <script src="/client/js/scanner/scanner.js"></script>
    <snack-bar />
  </body>
</html>
