<div>
  <form on-submit('onUserSubmit') class="text-center">
    <div class="col-md-12 bottom-space-2rem">
      <input type="number" class="form-control new-imput" id="amount" placeholder="Valor a receber" />
    </div>
  </form>
  <section id="qrcode"/>
</div>